<style>
  .custom-product-container {
        display:flex;
    flex-wrap:wrap;
    }
  .custom-product-main-sec{
    width:25%; 
  }
</style>


<div class="custom-product-container">
    {% for item in shop.metaobjects.creator.values %}
          <div class="custom-product-main-sec">
            <div class="custom-product-main-row">
              <div class="custom-product-row-left-con">{{ item.photo | img_tag }}</div>
              <div class="custom-product-row-right-con">
                  <h3>  {{ item.heading }} </h3>
                   <p>   {{ item.product_details }} </p>
              </div>
            </div>
          </div>
    {% endfor %}
</div>